@model paramotor.Models.IndexViewModel
@{
	var item = Model.About!;
}
<!--================Mission Area =================-->
	@if (item!=null)
	{
		<section class="mission_area">
			<div class="row m0">
				<div class="col-lg-6 p0">
					<div class="left_img"><img src="~/uploads/images/@item.Image" alt=""></div>
				</div>
				<div class="col-lg-6 p0">
					<div class="mission_slider owl-carousel">
						<div class="item">
							<div class="mission_text">
								<h4>@item.Title</h4>
								<p>@item.Detail</p>
								<br>
								<p><a class="banner_btn" href="/aboutus">Detay</a></p>
								<br>

							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</section>
	}
	<!--================End Mission Area =================-->