@model paramotor.Models.IndexViewModel
@{
	String title;
}
<!--================Project Area =================-->
	<section class="project_area">
		<div class="row m0">

			@if (Model.Portfolios!.Count() > 0)
			{
				foreach (var item in Model.Portfolios!)
				{
					<div class="col-lg-4 col-md-6 p0">
						<div class="project_item">
							<img src="~/uploads/images/@item.Image" alt="">
							<div class="hover_text">
								<h4>@item.Title</h4>
								<div class="cat">
									<a href="#">@item.Type</a>
								</div>
								@{title =  item.Title!;}
								<a class="main_btn" href="/portfolio-detail/@title.Replace(' ','_')/@item.Id">View More</a>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</section>
	<!--================End Project Area =================-->